#wrap {width: 700px; height: 400px;}
body {margin: 0;}
header {width: 700px; height: 100px;}
.contents {width: 700px;}
.box1 {width: 700px; height: 100px;}
.box2 {width: 700px; height: 100px;}
.button1 {color: white; height: 50px;}
.box {width: 80px;}
.font{height: 50px;}
